@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AuctionSite</h1>
    <p class="lead">This is a simple project that implements the Publisher/Subscriber pattern using SignalR in an auction scenario. Open multiple tabs to test it!</p>
    <p><a href="~/Home/Auction" class="btn btn-primary btn-lg">Start Bidding! &raquo;</a></p>
</div>